@media (max-width:375px) {
                                 /*HTML*/
    html {
        user-select: none;
        text-rendering: optimizeLegibility;
        font-smooth: always;
        scroll-behavior: smooth;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    *,head,body {
        margin: 0;
        padding: 0;
    }
                                 /*NAVIGASI*/
    .navlogo {
        height: 3.5em;
        width: 3.5em;
    }
    .navbar {}
    .navbar ul {
        display: flex;
        width: 50%;
        position: absolute;
        left: 25%;
    }
    .navbar ul li a {
        font-size: .9em;
    }
    .donate {
        height: 2em;
        width: 4em;
        scale: .8;
        bottom: 25%;
    }
    .donate a button {

    }
                                 /*NAVIGASI*/
    .home {
        position: relative;
        max-height: 100vh;
        max-width: 100%;
    }
    .logohome {
        position: absolute;
        height: 15em;
        width: 15em;
        left: 20%;
    }
    .bukit {
        height: 50%;
        bottom: -20%;
    }
    .bukitmalam {
        height: 50%;
        bottom: -20%;
    }
}